// Colors
$primary-color: #2c3e50;
$secondary-color: #e74c3c;
$accent-color: #d35400;
$text-color: #ecf0f1;
$bg-color: #1a252f;

$screen-bg: #000;
$grill-color: #111;

// Fonts
$font-family-base: 'Inter', sans-serif;
$font-family-display: 'Share Tech Mono', monospace;
