@use 'variables';

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.mainScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: variables.$font-family-base;

  .radio-device {
    position: relative;
  }
}